# Web Gateway base URL.
# Example for local development:
# VITE_API_BASE_URL=http://localhost:8090
#
# Example for Kubernetes NodePort / Ingress Gateway:
# VITE_API_BASE_URL=http://<GATEWAY_HOST>:<NODE_PORT>
VITE_API_BASE_URL=http://localhost:8090
